@using Mondays.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mondays</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">Mondays</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">


                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Περιεχόμενο
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Κατηγορίες</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="CoverType" asp-action="Index">Υποκατηγορίες</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Προϊόντα</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Sweetnesses" asp-action="Index">Γλυκύτητα</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Sweeteners" asp-action="Index">Γλυκαντικά</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="MilkTypes" asp-action="Index">Γάλα</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Toppings" asp-action="Index">Επικαλύψεις</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="IceCubes" asp-action="Index">Πάγος</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Origins" asp-action="Index">Ποικιλίες</a>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(SD.Role_Employee) || User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Χρήστες / Εταιρίες
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Company" asp-action="Index">Εταιρία</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">Χρήστης</a>

                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">
                                @if (User.IsInRole(SD.Role_Employee) || User.IsInRole(SD.Role_Admin))
                                {
                                    <span>Παραγγελίες</span>
                                }
                                else
                                {
                                    <span>Ιστορικό</span>
                                }
                            </a>
                        </li>
                        @if (User.IsInRole(SD.Role_Employee) || User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="BrainTree" asp-action="Index">BrainTree</a>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_User_Indi) || User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Customer" asp-controller="CustomerPreferences" asp-action="Index">Προτιμήσεις</a>
                            </li>
                        }
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart) != null)
                        {
                            <li style="color:white;">
                                <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="nav-link">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart);
                                    }
                                    <i class="fas fa-shopping-cart"></i> &nbsp; (@count)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li style="color:white;">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-shopping-cart"></i> &nbsp; (0)
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="box-header with-border">
                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Αναζήτηση...">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- /.box-tools -->
                </div>

            </div>
            <div class="col-3">
            </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="table-responsive mailbox-messages">
                    @RenderBody()
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">

            </div>
        </div>

    <footer class="border-top footer text-white-50 bg-primary">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-4">
                    &copy; 2020 - Mondays
                </div>
                <div class="col-4">
                    <a href="~/Customer/Home/Privacy" style="color:ghostwhite">Πολιτική Απορρήτου</a>
                </div>
                <div class="col-4">
                    <a href="~/Customer/Home/Terms" style="color:ghostwhite">Όροι χρήσης</a>
                </div>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    <script>
        $(document).ready(function () {

            var transMessage = $("#transMessage").val();

            if (transMessage) {
                toastr.success(transMessage);
            }

            var mainTable;
            mainTable = $('.table').DataTable({
                'treeGrid': {
                    'left': 10,
                    'expandIcon': '<span>+</span>',
                    'collapseIcon': '<span>-</span>'
                },
                "language": {
                    "url": '\\DataTable-GR.json'
                },
                "pageLength": 25,
                "lengthChange": false,
                "info": false,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            })

            $("#btn-export-csv").on("click", function () {
                mainTable.button('.buttons-csv').trigger();
            })

            $("#btn-export-excel").on("click", function () {
                mainTable.button('.buttons-excel').trigger();
            })

            $("#btn-export-pdf").on("click", function () {
                mainTable.button('.buttons-pdf').trigger();
            })
        });

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
