<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Email καλωσορίσματος από MONDAYS</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#fff" style="background-color:lightgray;">
                <br>
                <br>
                <table width="600" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td height="70" align="left" valign="middle"></td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#564319" style="background-color:#83d01b; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                            <div style="font-size:36px; color:#ffffff;">
                                <b>{0}</b>
                            </div>
                            <div style="font-size:13px; color:lightcyan;">
                                <b>{1} : Εφαρμογή Mondays</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" style="padding:10px; color:#564319; font-size:28px; font-family:Georgia, 'Times New Roman', Times, serif;">
                                        Συγχαρητήρια! <small>Έχετε εγγραφεί.</small>
                                    </td>
                                </tr>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                
                                <tr>
                                    <td width="100%" style="        color: darkslategrey;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;">
                                        <div style="font-size:16px;">
                                            Αγαπητέ/ή {2},
                                        </div>
                                        <div style="font-size:12px;">
                                            Σας ευχαριστούμε για το ενδιαφέρον σας στην ιστοσελίδα μας.
                                            Το μόνο που χρειάζεται να κάνετε είναι να κάνετε κλικ στο κουμπί παρακάτω (αυτό διαρκεί μόνο λίγα δευτερόλεπτα).
                                            Δεν θα σας ζητηθεί να συνδεθείτε στον λογαριασμό σας - επαληθεύουμε απλώς την ιδιοκτησία αυτής της διεύθυνσης ηλεκτρονικού ταχυδρομείου.
                                            <hr>
                                            <center>
                                                    <a href="{5}" style="font-size:22px;  padding: 10px; color: #000000">
                                                        Επιβεβαίωση Email Τώρα
                                                    </a>
                                            </center>
                                            <hr>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            
                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
                                <tr>
                                    <td align="left" valign="middle" style="padding:15px; font-family:Arial, Helvetica, sans-serif;">
                                        <div style="font-size:20px; color:#564319;">
                                            <b>Κρατήστε τα διαπιστευτήριά σας σε ασφαλές μέρος, για μελλοντική χρήση. </b>
                                        </div>
                                        <div style="font-size:16px; color:#525252;">
                                            <b>Email         :</b> {3}
                                            <br />
                                            <b>Όνομα χρήστη :</b> {6}
                                            <br />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" valign="middle" style="padding:15px; background-color:#83d01b; font-family:Arial, Helvetica, sans-serif;">
                                        <div style="font-size:20px; color:#fff;">
                                            <b>Ενημερώστε τον κωδικό πρόσβασής σας κάθε λίγους μήνες!</b>
                                        </div>
                                        <br>
                                        <div style="font-size:13px; color:aliceblue;">
                                            Οι αδύναμοι κωδικοί πρόσβασης κλέβονται και οδηγούν σε παραβιασμένους λογαριασμούς. Γιορτάστε την Παγκόσμια Ημέρα Κωδικού Πρόσβασης με έναν νέο, ισχυρό κωδικό πρόσβασης.
                                            <br>


                                        </div>
                                    </td>
                                </tr>
                            </table>
                           
                        </td>
                    </tr>
                    
                </table>
                <br>
                <br>
            </td>
        </tr>
    </table>
</body>
</html>