@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Δεν επιτρέπεται η πρόσβαση";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Δεν έχετε πρόσβαση σε αυτόν τον πόρο.</p>
</header>
