@page
@model ConfirmPhoneSuccessModel
@{
    ViewData["Title"] = "Ο αριθμός τηλεφώνου επιβεβαιώθηκε";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Σας ευχαριστούμε για την επιβεβαίωση του αριθμού τηλεφώνου σας.
    </p>
</div>