@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Ξεχάσατε τον κωδικό επιβεβαίωσης";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ελέγξτε το email σας για να επαναφέρετε τον κωδικό πρόσβασής σας.
</p>

