@page
@model LockoutModel
@{
    ViewData["Title"] = "Κλειδωμένο";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Αυτός ο λογαριασμός έχει κλειδωθεί. Δοκιμάστε ξανά αργότερα.</p>
</header>
