@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Επαλήθευση κωδικού ανάκτησης";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Ζητήσατε να συνδεθείτε με έναν κωδικό ανάκτησης. Αυτή η σύνδεση δεν θα απομνημονευθεί έως ότου καταχωρίσετε
    έναν κωδικό εφαρμογής ελέγχου ταυτότητας κατά τη σύνδεση ή απενεργοποιήστε το 2FA και συνδεθείτε ξανά.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.RecoveryCode"></label>
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Σύνδεση</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
