@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Επαναφορά επιβεβαίωσης κωδικού πρόσβασης";
}

<h1>@ViewData["Title"]</h1>
<p>
    Έγινε επαναφορά του κωδικού πρόσβασής σας. <a asp-page="./Login"> Κάντε κλικ εδώ για να συνδεθείτε</a>.
</p>
