
@{
    ViewBag.Title = "Απόρρητο";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container result-block">
        <h1 class="section-label">Πολιτική Απορρήτου της MONDAYS E.E.</h1>
        <div class="sense-group">
            <h3 class="sense-group-header">1. Προσωπικές πληροφορίες</h3>
            <p>
                1.1 Υποχρεωτικά πεδία κατά την εγγραφή<br />
                Για να δημιουργήσετε προφίλ πρέπει πρώτα να εγγραφείτε. Οι χρήστες καλούνται να παρέχουν τα εξής υποχρεωτικά στοιχεία κατά την εγγραφή τους:<br />
                όνομα χρήστη, διεύθυνση ηλεκτρονικού ταχυδρομείου και κωδικό πρόσβασης.<br />
                Η διεύθυνση ηλεκτρονικού ταχυδρομείου και ο κωδικός σας δεν θα είναι ορατά στους υπόλοιπους χρήστες. Όλες οι πληροφορίες που μας παρέχετε είναι απόρρητες: κωδικοποιούνται και χρησιμοποιούνται αποκλειστικά για το χειρισμό του προφίλ σας από την MONDAYS E.E..
            </p>
            <div class="spacer10">
            </div>
            <p>
            </p>
            <p>
                1.2 Προαιρετικές πληροφορίες<br />
                Ο χρήστης μπορεί να προσθέσει προαιρετικές πληροφορίες για τον εαυτό του, για να είναι πιο εύκολη η επικοινωνία με άλλους χρήστες.
            </p>
            <h3 class="sense-group-header">2. Γιατί ζητούμε προσωπικά στοιχεία</h3>
            <p>
                2.1 Τα στοιχεία που αναφέρονται στην παράγραφο 1.1 συγκεντρώνονται σύμφωνα με τις αντίστοιχες διατάξεις του νόμου.
            </p>
            <p>
                2.2 Μοναδικός σκοπός της συλλογής, αποθήκευσης και επεξεργασίας των στοιχείων αυτών είναι η παροχή, η διατήρηση και η περαιτέρω εξέλιξη των υπηρεσιών της MONDAYS E.E.. Τα στοιχεία αυτά δεν θα χρησιμοποιηθούν για κανέναν άλλο λόγο.
            </p>
            <div class="spacer10">
            </div>
            <p>
            </p>
            <h3 class="sense-group-header">3. Κοινοποίηση των στοιχείων σας σε τρίτους</h3>
            <p>
                3.1 Η MONDAYS E.E. δεν κοινοποιεί τα στοιχεία σας σε τρίτους, παρά μόνο εάν μας παραχωρήσετε την άδειά σας ή εάν το επιβάλει ο νόμος. Σε περίπτωση παραβίασης των δικαιωμάτων τρίτων (ιδίως στην περίπτωση παραβίασης πνευματικών δικαιωμάτων) από κάποιο χρήστη, η MONDAYS E.E. υποχρεούται, σε περίπτωση που της ζητηθούν, να κοινοποιήσει τα στοιχεία του χρήστη στο φυσικό ή νομικό πρόσωπο του οποίου τα δικαιώματα παραβιάστηκαν.
            </p>
            <p>
                3.2 Σε περίπτωση που ο χρήστης παραχωρήσει στην MONDAYS E.E. το δικαίωμα να κοινοποιεί τα στοιχεία του σε τρίτους, μπορεί πάντα να ανακαλέσει ενημερώνοντας μας μέσω τηλεφώνου, φαξ ή ηλεκτρονικού ταχυδρομείου.
            </p>
            <div class="spacer10">
            </div>
            <p>
            </p>
            <h3 class="sense-group-header">4. Cookies</h3>
            <p>
                4.1 Τα Cookies είναι μικρά αρχεία κειμένου που αποθηκεύονται στον υπολογιστή του χρήστη και επιτρέπουν στην ιστοσελίδα μας να αναγνωρίσει το χρήστη κατά την επόμενη επίσκεψή του. Τα Cookies περιέχουν μόνο ανώνυμες ταυτότητες χρήστη και δεν αποθηκεύουν πληροφορίες όπως ονόματα. Επίσης, τα Cookies δεν περιλαμβάνουν λογισμικό ή ιούς που πιθανόν να βλάψουν τον υπολογιστή σας.
            </p>
            <p>
                4.2 Η MONDAYS E.E. χρησιμοποιεί cookies για να αναγνωρίζει τους χρήστες κατά τη σύνδεσή τους, για να αποθηκεύει προσωρινά τις απαντήσεις σας όταν κάνετε κάποιο κουίζ (διαδικασία απαραίτητη για να μπορούμε να υπολογίσουμε τα αποτελέσματα στο τέλος του κουίζ), για να εξασφαλίσει πως κάθε χρήστης έχει μία μόνο ψήφο σε ό,τι αφορά την επιβεβαίωση προτεινόμενων μεταφράσεων και για να διαχειρίζεται τη χωρητικότητα του server. Τα cookies χρησιμοποιούνται αποκλειστικά για τη σωστή λειτουργία και την εξέλιξη των υπηρεσιών της MONDAYS E.E.. Όλες οι ιστοσελίδες χρησιμοποιούν πλέον cookies.
            </p>
            <p>
                4.3 Κάθε χρήστης μπορεί να επιλέξει από τις ρυθμίσεις του φυλλομετρητή του αν επιθυμεί να αποδέχεται τα cookies με ή χωρίς ειδοποίηση, ή αν προτιμά να αποκλείσει οριστικά τα cookies. Έχετε ωστόσο υπόψη σας πως κάποιες υπηρεσίες δεν θα λειτουργούν αν απενεργοποιήσετε τα cookies.
            </p>
            <div class="spacer10">
            </div>
            <p>
            </p>
            <p>
                4.4 Η MONDAYS E.E. χρησιμοποιεί πρόσθετα από σελίδες κοινωνικής δικτύωσης, όπως το πλήκτρο «Μου αρέσει» της Facebook Inc. (ΗΠΑ), στη σελίδα της. Αυτά τα πρόσθετα συνδέονται απευθείας με το server της αντίστοιχης σελίδας και συλλέγουν στοιχεία βάσει του προφίλ σας στις σελίδες αυτές. Συμβουλευτείτε την πολιτική απορρήτου των εξωτερικών αυτών ιστοσελίδων σχετικά με τη συλλογή και χρήση των προσωπικών σας στοιχείων. Αν δεν επιθυμείτε να μοιράζεστε τις πληροφορίες αυτές με τις αντίστοιχες σελίδες κοινωνικής δικτύωσης, παρακαλούμε διαγράψτε τα cookies της αντίστοιχης σελίδας.
            </p>
            <div class="spacer10">
            </div>
            <p>
            </p>
            <h3 class="sense-group-header">5. Προστασία δεδομένων</h3>
            <p>
                Η MONDAYS E.E. έχει λάβει όλα τα μέτρα για να προστατέψει τα δεδομένα των χρηστών από διαγραφή, κατάχρηση ή αλλοίωση. Χρησιμοποιούμε τα καλύτερα και πλέον ενημερωμένα firewalls, καθώς και άλλα συστήματα ασφαλείας, και δεσμευόμαστε στη διατήρηση υψηλού επιπέδου ασφάλειας μέσω της υιοθέτησης των πιο αποτελεσματικών συστημάτων. Ωστόσο, λόγω της καθημερινής εμφάνισης νέων ιών και άλλου κακόβουλου λογισμικού, είναι αδύνατο να εγγυηθούμε 100% ασφάλεια. Σε περίπτωση διαγραφής ή αλλοίωσης στοιχείων εξαιτίας κάποιου ιού, η MONDAYS E.E. δεν μπορεί να θεωρηθεί υπεύθυνη. Δεσμευόμαστε να κινηθούμε νομικά σε περίπτωση επίθεσης εναντίον της ιστοσελίδας μας και κατάχρησης δεδομένων.
            </p>
            <div class="spacer10">
            </div>
            <p>
            </p>
            <h3 class="sense-group-header">6. Επεξεργασία ή διαγραφή προσωπικών στοιχείων</h3>
            <p>
                6.1 Κάθε χρήστης έχει το δικαίωμα να επεξεργαστεί δωρεάν τα προσωπικά του στοιχεία, αποστέλλοντας γραπτό αίτημα στην MONDAYS E.E.. Για να μπορέσουμε να επεξεργαστούμε το αίτημα, ο χρήστης πρέπει να επισυνάψει στο μήνυμα του αντίγραφο κάποιου έγγραφου ταυτοποίησης. Η απάντηση στο αίτημα επεξεργασίας των προσωπικών στοιχείων του χρήστη θα αποσταλεί στη διεύθυνση που αναγράφεται στα έγγραφα ταυτοποίησης που συνόδευαν το αίτημα.
            </p>
            <p>
                6.2 Σε περίπτωση που ο χρήστης τροποποιήσει ή ενημερώσει τα προσωπικά του στοιχεία, τα παλιά του στοιχεία αυτομάτως διαγράφονται. Επομένως δεν είναι απαραίτητη η αποστολή επιπλέον αιτήματος διαγραφής των παλιών του στοιχείων.
            </p>
            <p>
                6.3 Ο χρήστης μπορεί ανά πάσα στιγμή να αιτηθεί της τροποποίησης λανθασμένων προσωπικών στοιχείων. Ο πιο εύκολος τρόπος είναι να πραγματοποιήσει τις αλλαγές ο χρήστης μόνος του, αφού συνδεθεί στο λογαριασμό του.
            </p>
            <p>
                6.4 Αν ο χρήστης διαγράψει οριστικά το προφίλ του, κάθε πληροφορία που περιείχε το προφίλ του διαγράφεται αυτομάτως. Δεν είναι απαραίτητη η αποστολή επιπλέον αιτήματος διαγραφής.
            </p>
            <p>
                6.5 Κάθε αίτημα τροποποίησης, ενημέρωσης ή διαγραφής προσωπικών στοιχείων πρέπει να αποσταλεί στην MONDAYS E.E. μέσω επιστολής, φαξ ή ηλεκτρονικού ταχυδρομείου. Για να επεξεργαστούμε το αίτημα χρειαζόμαστε τις εξής πληροφορίες:<br />
                Όνομα χρήστη<br />
                Επίθετο, όνομα<br />
                Διεύθυνση ηλεκτρονικού ταχυδρομείου<br />
                Διεύθυνση<br />
                Έγγραφα ταυτοποίησης (ταυτότητα, διαβατήριο).
            </p>
            <p>
                6.6 Στοιχεία που έχουν διαγραφεί από την MONDAYS E.E. πιθανόν να εμφανίζονται ακόμα σε μηχανές αναζήτησης ή αντίστοιχα συστήματα.
            </p>
            <div class="spacer10">
            </div>
            <p>
            </p>
            <h3 class="sense-group-header">7. Αρχεία ιστορικού του server</h3>
            <p>
                7.1 Κάθε φορά που επισκέπτεστε μια σελίδα στον ιστότοπο της MONDAYS E.E. ο φυλλομετρητής σας αποστέλλει αυτόματα κάποιες πληροφορίες που αποθηκεύονται στα αρχεία ιστορικού του server μας. Τα αρχεία αυτά περιλαμβάνουν τις εξής πληροφορίες:<br />
                - τύπος και έκδοση φυλλομετρητή,<br />
                - τεχνικές προδιαγραφές του υπολογιστή (λειτουργικό σύστημα, ανάλυση οθόνης, ρυθμίσεις javascript και παρόμοιες πληροφορίες),<br />
                - URL που σας παρέπεμψε στην MONDAYS E.E. (η τελευταία ιστοσελίδα που επισκεφτήκατε),<br />
                - διεύθυνση IP του υπολογιστή σας,<br />
                - ώρα επίσκεψης<br />
                ,- επιπλέον, αποθηκεύονται οι διευθύνσεις των υποσελίδων του ιστοτόπου της MONDAYS E.E. που επισκεφτήκατε.<br />
            </p>
            <p>
                7.2 Τα αποθηκευμένα στοιχεία που περιγράφονται στην παράγραφο 7.1 δεν μπορούν να συσχετιστούν μαζί σας. Η MONDAYS E.E. δεν συνδυάζει αυτά τα στοιχεία με άλλα δεδομένα. Τα στοιχεία αυτά συλλέγονται από όλους τους ιστοτόπους με μοναδικό στόχο να εξασφαλίσουν την ομαλή λειτουργία του server (π.χ. διάγνωση τυχόν προβλημάτων) και να συμβάλουν στη βελτίωση των παρεχόμενων υπηρεσιών βάσει των στατιστικών στοιχείων πρόσβασης.
            </p>
            <div class="spacer10">
            </div>
            <p>
            </p>
            <h3 class="sense-group-header">8. Επικοινωνία</h3>
            <p>
                Η εμπιστοσύνη σας στις υπηρεσίες σας είναι για εμάς πολύ σημαντική. Αν θέλετε να μάθετε περισσότερες πληροφορίες ή έχετε απορίες σχετικά με την Πολιτική Απορρήτου μας, παρακαλούμε επικοινωνήστε με τον υπεύθυνο για τα θέματα που αφορούν την προστασία δεδομένων.<br />
                MONDAYS E.E.<br />
                -ΑΝΑΨΥΚΤΗΡΙΟ-<br />
                Σιβιτανίδου 16,<br />
                17676 Καλλιθέα Αττικής<br />
                Ελλάς
            </p>
            <p>
                Τηλέφωνο: 210-95-19-775
            </p>
            <p>
                E-Mail: <a href="mailto:info@mondays.gr">info@mondays.gr</a>
            </p>
            <div class="spacer10">
            </div>
            <p>
            </p>
            <h3 class="sense-group-header">9. Τροποποιήσεις στην Πολιτική Απορρήτου</h3>
            <p>
                Σύμφωνα με τις ισχύουσες διατάξεις περί της προστασίας προσωπικών δεδομένων, η MONDAYS E.E. διατηρεί το δικαίωμα να τροποποιήσει την Πολιτική Απορρήτου της ανά πάσα στιγμή.
            </p>
        </div>
    </div>
</div>
