
@{
    ViewBag.Title = "Όροι Χρήσης";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Όροι Χρήσης</h2>
<div>
    <span class="journal-content-article" id="210_149230_1.0">
        <ol>
            <li>
                <ul>
                    <li>
                        Η MONDAYS E.E. διατηρεί το δικαίωμα να τροποποιεί μονομερώς
                        ή να ανανεώνει τους παρόντες όρους και τις προϋποθέσεις των συναλλαγών, που γίνονται
                        μέσω του ηλεκτρονικού της καταστήματος, σύμφωνα με τις ανάγκες της και τα συναλλακτικά
                        ήθη. Η MONDAYS E.E. αναλαμβάνει την υποχρέωση να ενημερώνει τους χρηστές για τυχόν
                        τροποποιήσεις καθώς και για οποιαδήποτε αλλαγή, μέσω από την ιστοσελίδα του παρόντος
                        ηλεκτρονικού καταστήματος.
                    </li>
                </ul>
            <li>
                Παρεχόμενες πληροφορίες &amp; Προϊόντα
                <ul>
                    <li>
                        H MONDAYS E.E. δεσμεύεται ως προς την ποιότητα, την πληρότητα και την
                        εγκυρότητα των πληροφοριών που παρατίθενται στην ιστοσελίδα της <a href="https://www.mondays.gr/">www.mondays.gr</a>,
                        τόσο όσον αφορά τα ακριβή στοιχεία που εκτίθενται όσο και των παρεχομένων, από το
                        ηλεκτρονικό κατάστημα της, υπηρεσιών, υπό την επιφύλαξη τυχόν τεχνικών ή τυπογραφικών
                        λαθών, που δεν μπορούν να προβλεφθούν ή έχουν προκύψει ακούσια ή διακοπών λειτουργίας
                        της ιστοσελίδας εκ λόγων ανωτερας βίας.
                    </li>
                </ul>
            </li>
            <li>
                Περιορισμός ευθύνης
                <ul>
                    <li>
                        Η MONDAYS E.E. δεν ευθύνεται έναντι των πελατών / χρηστών για ζημιές
                        που τυχόν προκύψουν από την εκτέλεση ή μη της παραγγελίας τους (εκτός των περιπτώσεων
                        της παραγράφου 9. «Υπαναχώρηση / Επιστροφή – Αντικατάσταση Προϊόντων»).
                    </li>
                    <li>
                        Επίσης επιφυλάσσεται ως προς το χρόνο παράδοσης των εμπορευμάτων στις περιπτώσεις
                        ανωτέρας βίας. Το ηλεκτρονικό κατάστημα <a href="https://www.mondays.gr/">www.mondays.gr</a>
                        ουδεμία εγγύηση μπορεί να παράσχει για τη διαθεσιμότητα των προϊόντων, αλλά εγγυάται
                        την έγκαιρη ενημέρωση των τελικών καταναλωτών περί της μη διαθεσιμότητας τους.
                    </li>
                    <li>
                        Το ηλεκτρονικό κατάστημα <a href="https://www.mondays.gr/">www.mondays.gr</a>
                        παρέχει το περιεχόμενο (π.χ. πληροφορίες, ονόματα, φωτογραφίες, απεικονίσεις, κ.λ.π.),
                        τα προϊόντα και τις υπηρεσίες που διατίθενται μέσω του δικτυακού τόπου "όπως ακριβώς
                        έχουν".
                    </li>
                    <li>
                        Σε καμία περίπτωση το ηλεκτρονικό κατάστημα της MONDAYS E.E.
                        δεν φέρει ευθύνη για τυχόν απαιτήσεις νομικής ή αστικής ή/και ποινικής φύσεως ούτε
                        για τυχόν ζημία (θετική, ειδική ή αποθετική η οποία ενδεικτικά και όχι περιοριστικά,
                        διαζευκτικά ή/και σωρευτικά συνίσταται σε απώλεια κερδών, δεδομένων, διαφυγόντα κέρδη,
                        χρηματική ικανοποίηση κ.λ.π.) από επισκέπτες του δικτυακού τόπου ή τρίτους από αιτία
                        που έχει σχέση με τη λειτουργία ή μη ή/και τη χρήση του δικτυακού τόπου ή/και σε αδυναμία
                        παροχής υπηρεσιών ή/και πληροφοριών που διατίθενται από αυτόν ή/και από τυχόν μη επιτρεπόμενες
                        παρεμβάσεις τρίτων σε προϊόντα ή/και υπηρεσίες ή/και πληροφορίες που διατίθενται μέσω
                        αυτού.
                    </li>
                </ul>
            </li>
            <li>
                Δικαιώματα πνευματικής ιδιοκτησίας <ul>
                    <li>
                        Αυτή η ιστοσελίδα
                        είναι το επίσημο ηλεκτρονικό κατάστημα της MONDAYS E.E.. Όλο το περιεχόμενο της
                        ιστοσελίδας, συμπεριλαμβανομένων εικόνων, γραφικών, φωτογραφιών, σχεδίων, κειμένων,
                        παρεχόμενων υπηρεσιών και προϊόντων αποτελούν πνευματική ιδιοκτησία της ΤΕΧΝΟΠΟΛΙΣ
                        Α.Ε. και προστατεύονται κατά τις σχετικές διατάξεις του ελληνικού δικαίου, του ευρωπαϊκού
                        δικαίου και των διεθνών συμβάσεων.
                    </li>
                    <li>
                        Απαγορεύεται οποιαδήποτε αντιγραφή, αναλογική
                        / ψηφιακή εγγραφή και μηχανική αναπαραγωγή, διανομή, μεταφορά, downloading, μεταποίηση,
                        μεταπώληση, δημιουργία παράγωγης εργασίας ή παραπλάνηση του κοινού σχετικά με τον
                        πραγματικό παροχέα του Περιεχομένου του διαδικτυακού τόπου. Τυχόν αναπαραγωγή, επανέκδοση,
                        φόρτωση, ανακοίνωση, διάδοση ή μετάδοση ή οποιαδήποτε άλλη χρήση του Περιεχομένου
                        με οποιοδήποτε τρόπο ή μέσο για εμπορικούς ή άλλους σκοπούς επιτρέπεται μόνο κατόπιν
                        προηγούμενης γραπτής άδειας της MONDAYS E.E. ή οιουδήποτε άλλου νόμιμου δικαιούχου
                        των ανωτέρω πνευματικών δικαιωμάτων.
                    </li>
                    <li>
                        Τα ονόματα, εικόνες, λογότυπα και διακριτικά
                        γνωρίσματα που αντιπροσωπεύουν την MONDAYS E.E. ή/και το ηλεκτρονικό της κατάστημα
                        <a href="https://www.mondays.gr/">www.mondays.gr</a> ή/και τρίτα
                        μέρη συμβεβλημένα με αυτούς καθώς και τα προϊόντα ή τις υπηρεσίες τους, είναι αποκλειστικά
                        σήματα και διακριτικά γνωρίσματα της MONDAYS E.E. ή/και του <a href="https://www.mondays.gr/">www.mondays.gr</a>
                        ή/και των άνω τρίτων μερών και προστατεύονται από τους ελληνικούς, κοινοτικούς και
                        διεθνείς νόμους περί εμπορικών σημάτων και βιομηχανικής και πνευματικής ιδιοκτησίας.
                        Σε κάθε περίπτωση η εμφάνισή και έκθεση τους στην ιστοσελίδα <a href="https://www.mondays.gr/">www.mondays.gr</a>
                        και στο ηλεκτρονικό κατάστημα της MONDAYS E.E. δεν θα πρέπει κατά κανένα τρόπο
                        να εκληφθεί ως μεταβίβαση ή εκχώρηση άδειας ή δικαιώματος χρήσης τους.
                    </li>
                </ul>
            </li>
            <li>
                Ευθύνη Χρήστη <ul>
                    <li>
                        Οι χρήστες της ιστοσελίδας <a href="https://www.mondays.gr/">www.mondays.gr</a>
                        αποδέχονται ότι δεν θα χρησιμοποιούν τo ηλεκτρονικό κατάστημα της MONDAYS E.E.
                        για αποστολή, δημοσίευση, αποστολή με e-mail ή μετάδοση με άλλους τρόπους οποιουδήποτε
                        Περιεχομένου είναι παράνομο, βλαβερό, απειλητικό, προσβλητικό, ενοχλητικό, συκοφαντικό,
                        δυσφημιστικό, χυδαίο, άσεμνο, λιβελογραφικό, αποτελεί παραβίαση του απορρήτου κάποιου
                        άλλου, δείχνει εμπάθεια, ή εκφράζει φυλετικές, εθνικές ή άλλες διακρίσεις, δύναται
                        να προκαλέσει βλάβες σε ανήλικους με οποιονδήποτε τρόπο, δεν δικαιούται να μεταδοθεί
                        σύμφωνα με την νομοθεσία ή τις συμβατικές ή διαχειριστικές σχέσεις (όπως εσωτερικές
                        πληροφορίες, ιδιοκτησιακές και εμπιστευτικές πληροφορίες που αποκτήθηκαν ή αποκαλύφθηκαν
                        ως μέρος εργασιακών σχέσεων ή που καλύπτονται σε συμφωνίες εμπιστευτικότητας), παραβιάζει
                        οποιαδήποτε ευρεσιτεχνία, εμπορικό σήμα, εμπορικό μυστικό, πνευματικά δικαιώματα ή
                        άλλα ιδιοκτησιακά δικαιώματα τρίτων, περιέχει ιούς λογισμικού ή οποιουσδήποτε άλλους
                        κώδικες, αρχεία ή προγράμματα, που έχουν σχεδιαστεί με σκοπό την διακοπή, την πρόκληση
                        βλάβης, την καταστροφή ή τον εξοπλισμό της λειτουργίας οποιουδήποτε λογισμικού ή υλικού
                        υπολογιστών, ηθελημένα ή αθέλητα παραβαίνει την ισχύουσα ελληνική και κοινοτική νομοθεσία
                        και των διατάξεων αυτής, δύναται να παρενοχλήσει τρίτους με οποιοδήποτε τρόπο και
                        οποιοδήποτε Περιεχόμενο χρησιμοποιείται για συλλογή ή αποθήκευση προσωπικών δεδομένων
                        σχετικά με άλλους χρήστες
                    </li>
                </ul>
            </li>
            <li>
                Ασφάλεια <ul>
                    <li>
                        Η MONDAYS E.E.
                        αναγνωρίζει τη σημασία του θέματος της ασφαλείας των Προσωπικών σας δεδομένων καθώς
                        και των ηλεκτρονικών σας συναλλαγών και λαμβάνει όλα τα απαραίτητα μέτρα, με τις πιο
                        σύγχρονες και προηγμένες μεθόδους, ώστε να εξασφαλίζεται η μέγιστη δυνατή ασφάλεια
                        σας. Όλες οι πληροφορίες, οι οποίες σχετίζονται με τα προσωπικά σας στοιχεία και τις
                        συναλλαγές σας, είναι ασφαλείς και απόρρητες. Η ασφάλεια του Ηλεκτρονικού καταστήματος
                        της MONDAYS E.E. επιτυγχάνεται με τις ακόλουθες μεθόδους: <ul>
                            <li>
                                <strong>
                                    Αναγνώριση
                                    Πελάτη
                                </strong> <p>
                                    Οι κωδικοί που χρησιμοποιούνται για την αναγνώρισή σας είναι δύο:
                                    ο Κωδικός Εισόδου (<strong>e-mail ή username</strong>) και ο Προσωπικός Μυστικός Κωδικός
                                    Ασφαλείας (<strong>password</strong>), οι οποίοι κάθε φορά που τους καταχωρείτε σας
                                    παρέχουν πρόσβαση με απόλυτη ασφάλεια στα προσωπικά σας στοιχεία.
                                </p> <p>
                                    Σας δίνετε
                                    η δυνατότητα να μεταβάλλετε τον Προσωπικό Μυστικό Κωδικό Ασφαλείας (password) όσο
                                    συχνά επιθυμείτε. Ο μόνος που έχει πρόσβαση στα στοιχεία σας είστε εσείς μέσω των
                                    ανωτέρω κωδικών και είστε αποκλειστικά υπεύθυνοι για την διατήρηση της μυστικότητάς
                                    και απόκρυψης του από τρίτα πρόσωπα. Σε περίπτωση απώλειας του ή διαρροής του θα πρέπει
                                    να προβείτε στην άμεση ειδοποίηση μας, αλλιώς το ηλεκτρονικό κατάστημα της MONDAYS E.E. δεν ευθύνεται για την χρήση του μυστικού κωδικού από μη εξουσιοδοτημένο πρόσωπο.
                                    Σας συνιστούμε, για λόγους ασφαλείας, να αλλάζετε το password σας σε τακτά χρονικά
                                    διαστήματα και να αποφεύγετε τη χρήση των ίδιων και εύκολα ανιχνεύσιμων κωδικών (π.χ.
                                    ημερομηνία γέννησης).
                                </p>
                            </li>
                            <li>
                                <strong>
                                    Εξασφάλιση του Απορρήτου της Μεταφοράς
                                    των Προσωπικών σας Δεδομένων
                                </strong> <p>
                                    Για την εξασφάλιση του απορρήτου της μεταφοράς
                                    των δεδομένων, χρησιμοποιούμε το πρωτόκολλο κρυπτογράφησης SSL-256bit. Το σύστημα
                                    έχει πιστοποιηθεί από την εταιρία Commodo , η οποία ειδικεύεται σε θέματα ασφαλείας
                                    συναλλαγών.
                                </p>
                            </li>
                            <li>
                                <strong>Αυτόματη Αποσύνδεση</strong> <p>
                                    Εάν δεν υπάρξει
                                    καμία δραστηριότητα για 20 λεπτά γίνεται αυτόματη αποσύνδεση από το χώρο μελών του
                                    ηλεκτρονικού κατάστηματος της MONDAYS E.E..
                                </p>
                            </li>
                            <li>
                                <strong>
                                    Ελεγχόμενη Πρόσβαση
                                    (firewall)
                                </strong> <p>
                                    Η πρόσβαση στα συστήματα της MONDAYS E.E. (servers) ελέγχεται
                                    από firewall, το οποίο επιτρέπει τη χρήση συγκεκριμένων υπηρεσιών από τους πελάτες/
                                    χρήστες απαγορεύοντας, παράλληλα, την πρόσβαση σε συστήματα και βάσεις δεδομένων με
                                    απόρρητα στοιχεία και πληροφορίες της εταιρείας.
                                </p>
                            </li>
                            <li>
                                <strong>Κρυπτογράφηση</strong>
                                <p>
                                    Σε όποιο σημείο του site εισάγετε προσωπικά δεδομένα (password, διευθύνσεις, τηλέφωνα,
                                    πιστωτικές κάρτες κ.τ.λ.) υπάρχει κρυπτογράφηση SSL 256-bit. Η κρυπτογράφηση είναι
                                    ουσιαστικά ένας τρόπος κωδικοποίησης της πληροφορίας μέχρι αυτή να φτάσει στον ορισμένο
                                    αποδέκτη της, ο οποίος θα μπορέσει να την αποκωδικοποιήσει με χρήση του κατάλληλου
                                    κλειδιού.
                                </p> <p>
                                    Κάθε φορά που συνδέεστε με το ηλεκτρονικό κατάστημα της MONDAYS E.E., όλη η επικοινωνία ανάμεσα στον υπολογιστή σας και τα συστήματα της MONDAYS E.E. κρυπτογραφείται με χρήση κλειδιού 256 bits. Δηλαδή, κάθε φορά που στέλνετε πληροφορίες
                                    προς το σύστημα, ο browser σας τις κρυπτογραφεί πρώτα με χρήση κλειδιού 256 bits και
                                    στη συνέχεια τις στέλνει στο σύστημα.
                                </p> <p>
                                    Το σύστημα της MONDAYS E.E. αποκρυπτογραφεί
                                    πρώτα τις πληροφορίες που λαμβάνει χρησιμοποιώντας το ίδιο κλειδί (που προκαθορίζεται
                                    με την έναρξη της σύνδεσής σας με την υπηρεσία) και στη συνέχεια τις επεξεργάζεται.
                                    Τα συστήματα της MONDAYS E.E. σας αποστέλλουν πληροφορίες ακολουθώντας την ίδια
                                    διαδικασία κρυπτογράφησης.
                                </p>
                            </li>
                            <li>
                                <strong>Απόρρητο Συναλλαγών</strong> <p>
                                    Η τήρηση του απορρήτου θεωρείται αυτονόητη. Οι ίδιες βασικές αρχές που διέπουν τις
                                    κλασσικές συναλλαγές ισχύουν και στην περίπτωση του e-commerce (ηλεκτρονικού εμπορίου).
                                    Όλες οι πληροφορίες που διαβιβάζονται από τον χρηστή /μέλος στη MONDAYS E.E. είναι
                                    εμπιστευτικές και η MONDAYS E.E. έχει λάβει όλα τα απαραίτητα μέτρα ώστε να γίνεται
                                    χρήση τους μόνο στο μέτρο που αυτό κρίνεται αναγκαίο στο πλαίσιο των παρεχόμενων υπηρεσιών.
                                    Μερικά από τα μέτρα που έχουν ληφθεί είναι τα ακόλουθα:
                                </p> <ul>
                                    <li>
                                        Μόνο εξουσιοδοτημένοι
                                        υπάλληλοι έχουν πρόσβαση στις πληροφορίες των συναλλαγών σας και μόνο όποτε αυτό είναι
                                        αναγκαίο, π.χ. για τη διεκπεραίωση των αιτήσεών σας.
                                    </li>
                                    <li>
                                        Η MONDAYS E.E. δεν
                                        αποκαλύπτει τα στοιχεία των πελατών και των συναλλαγών τους, εκτός αν έχει έγγραφη
                                        εξουσιοδότηση από εσάς ή αυτό επιβάλλεται από δικαστική απόφαση ή απόφαση άλλης δημόσιας
                                        αρχής.
                                    </li>
                                    <li>
                                        Στην περίπτωση που η MONDAYS E.E. χρησιμοποιεί τρίτους για την
                                        υποστήριξη των συστημάτων της, φροντίζει για την εξασφάλιση του απορρήτου.
                                    </li>
                                    <li>
                                        Μπορείτε να ζητήσετε οποιαδήποτε στοιχεία τηρούνται για εσάς καθώς και την διόρθωσή
                                        τους σε περίπτωση που μπορείτε να τεκμηριώσετε την ύπαρξη λάθους.
                                    </li>
                                    <li>
                                        Για τη
                                        δική σας ασφάλεια, θα πρέπει και εσείς να χειρίζεστε όλες τις πληροφορίες που παρέχονται
                                        μέσω της υπηρεσίας ως εμπιστευτικές και απόρρητες και να μην προβαίνετε σε οποιαδήποτε
                                        αποκάλυψή τους σε τρίτα πρόσωπα.
                                    </li>
                                    <li>
                                        Ενημερωτικούς καταλόγους και έντυπο υλικό
                                        θα λαμβάνετε μόνον εφόσον το επιθυμείτε και το δηλώσετε κατά τη διάρκεια της εγγραφής
                                        σας ως μέλους.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Σε κάθε περίπτωση το ηλεκτρονικό
                        κατάστημα της MONDAYS E.E. με κανέναν τρόπο δεν αποκαλύπτει ή δημοσιοποιεί τα προσωπικά
                        σας δεδομένα και τις πληροφορίες που μας εμπιστεύεστε. Τα προσωπικά δεδομένα τα οποία
                        θέτετε στη διάθεσή μας με την εγγραφή σας ως μέλος χρησιμοποιούνται αποκλειστικά για
                        την εκτέλεση των συναλλαγών σας. Όλες οι πληροφορίες κρυπτογραφούνται και φυλάσσονται
                        με απόλυτη ασφάλεια.
                    </li>
                </ul>
            </li>
            <li>
              
            </li>
        </ol>
    </span>
</div>