@page
@model ErrorModel
@{
    ViewData["Title"] = "Σφάλμα";
}

    <h1 class="text-danger">Σφάλμα.</h1>
    <h2 class="text-danger">Προέκυψε ένα σφάλμα κατά την επεξεργασία του αιτήματός σας.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Αίτημα αναγνώρισης:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Λειτουργία ανάπτυξης</h3>
<p>
    Εναλλαγή σε <strong>Ανάπτυξη</strong> Το περιβάλλον θα εμφανίσει πιο λεπτομερείς πληροφορίες σχετικά με το σφάλμα που προέκυψε.
</p>
<p>
    <strong>Το περιβάλλον ανάπτυξης δεν πρέπει να ενεργοποιείται σε αναπτυσσόμενες εφαρμογές</strong>, καθώς μπορεί να έχει ως αποτέλεσμα ευαίσθητες πληροφορίες από εξαιρέσεις να εμφανίζονται στους τελικούς χρήστες. Για τοπικά σφάλματα, το περιβάλλον ανάπτυξης μπορεί να ενεργοποιηθεί ρυθμίζοντας το <strong>ASPNETCORE_ENVIRONMENT</strong> μεταβλητή περιβάλλοντος σε <strong>Development</strong>, και επανεκκίνηση της εφαρμογής.
</p>
