@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Η παραγγελία υποβλήθηκε με επιτυχία</h1><br />
        <img src="~/images/lawn_leaf.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Ευχαριστούμε για την παραγγελία σας! <br />
        Λάβαμε την παραγγελία σας και σύντομα θα στείλουμε ένα μήνυμα ηλεκτρονικού ταχυδρομείου!
        <br />
        Ο αριθμός παραγγελίας σας είναι : @Model
    </div>
</div>
